<%= form_with(model: artist, local: true, html: { multipart: true }) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fname %>
    <%= form.text_field :fname, id: :artist_fname %>
  </div>

  <div class="field">
    <%= form.label :lname %>
    <%= form.text_field :lname, id: :artist_lname %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, id: :artist_birthdate, :start_year => 1900, :end_year => Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :deathdate %>
    <%= form.date_select :deathdate, id: :artist_deathdate, :include_blank => true, :default => nil, :start_year => 1900, :end_year => Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio, id: :artist_bio %>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, id: :artist_user_id %>
  </div> -->

  <div class="field">
    <%= form.label "Profile Picture" %>

    <%= form.file_field :avatar %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
