<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @artist.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @artist.lname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @artist.birthdate %>
</p>

<p>
  <strong>Deathdate:</strong>
  <%= @artist.deathdate %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

</p>
  <strong>User:</strong>
  <%= @artist.user %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
