<p id="notice"><%= notice %></p>

<div class="profilebox col-md-4">
  <center>
  <%= image_tag @artist.avatar.url(:medium), class: 'artistpic' %>
  <h3><strong><%= @artist.fname %> <%= @artist.lname %></strong></h3>

  <p><em><%= @artist.birthdate %> — <%= @artist.deathdate %></em></p>

  <p><%= @artist.bio %></p>
  <% if user_signed_in? && current_user.admin? %>
  <p>
    <strong>Last Edited By:</strong>
    <%= @artist.user.fname %> <%= @artist.user.lname %>
  </p>

  <%= link_to 'Edit', edit_artist_path(@artist) %>
  <% else %>
  <% end %>
  </center>
</div>
