<p id="notice"><%= notice %></p>
<div class="col-md-8 profilebox">
  <p>
    <strong>Visit Date:</strong>
    <%= @ticket.date.strftime("%Y-%d-%m") %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @ticket.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @ticket.quantity %>
  </p>

  <p>
    <strong>Total Cost:</strong>
    $<%= @ticket.quantity * @ticket.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @ticket.user.fname %> <%= @ticket.user.lname %>
  </p>

  <p>
    <strong>Purchase Date:</strong>
    <%= @ticket.created_at.strftime("%Y-%d-%m") %>
  </p>

  <%= link_to 'Edit', edit_ticket_path(@ticket) %>
</div>
