<p id="notice"><%= notice %></p>
<!-- show the artist bio box on the left side of the page -->
<div class="profilebox col-md-4">
  <center>
  <%= image_tag @art.artist.avatar.url(:medium), class: 'artistpic' %>
  <h3><strong><a href="/artists/<%= @art.artist.id %>"><%= @art.artist.full_name %></a></strong></h3>

  <p><em><%= @art.artist.birthdate %> — <%= @art.artist.deathdate %></em></p>

  <p><%= @art.artist.bio %></p>
  </center>
</div>
<!-- show the art piece and info on the right side of the page -->
<div class="col-md-7 col-md-offset-1 homedisplay">
  <center>
    <%= image_tag @art.avatar.url(:medium), class: 'artpic' %>

      <h3><strong><%= @art.title %></strong></h3>
      <p><%= @art.artist.full_name %> — <em><%= @art.date %></em></p>
      <p><%= @art.description %></p>
      <p><strong>Media:</strong>
      <% @art.media.each do |medium| %>
      <span><%= medium.style %> | </span>
      <% end %></p>
    <p><strong>Location:</strong>
      <%= @art.location.wing %></p>
<% if user_signed_in? && current_user.admin? %>

  <p><strong>Last Edited By:</strong>
  <%= @art.user.full_name %></p>

  <%= link_to 'Edit', edit_art_path(@art) %>
<% else %>
<% end %>
  </center>
</div>
