<p id="notice"><%= notice %></p>

<div class="profilebox col-md-4">
  <center>
  <%= image_tag @art.artist.avatar.url(:medium), class: 'artistpic' %>
  <h3><strong><a href="/artists/<%= @art.artist.id %>"><%= @art.artist.full_name %></a></strong></h3>

  <p><em><%= @art.artist.birthdate %> — <%= @art.artist.deathdate %></em></p>

  <p><%= @art.artist.bio %></p>
  </center>
</div>

<div class="col-md-7 col-md-offset-1 homedisplay">
  <center>
    <%= image_tag @art.avatar.url(:medium), class: 'artpic' %>
    <p>
      <strong>Title:</strong>
      <%= @art.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @art.description %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @art.date %>
    </p>

    <p>
      <strong>Value:</strong>
      $<%= @art.value %>
    </p>

    <p>
      <strong>Artist:</strong>
      <%= @art.artist.full_name %>
    </p>

    <p>
      <strong>Last Edited By:</strong>
      <%= @art.user.full_name %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @art.location.wing %>
    </p>

    <%= link_to 'Edit', edit_art_path(@art) %>
  </center>
</div>
