<% if user_signed_in? && current_user.admin? %>
    <div class="col-md-4 profilebox">
      <h1><%= current_user.fname %> <%= current_user.lname %></h1>
      <p>Admin Pages:</p>
      <ul>
        <li><%= link_to "Artists", artists_path %></li>
        <li><%= link_to "Art Pieces", arts_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Mediums", media_path %></li>
      </ul>
    </div>


<% elsif user_signed_in? %>
<div class="col-md-4 profilebox">
  <h1><%= current_user.fname %> <%= current_user.lname %></h1>
</div>


<% else %>

  <a href="/users/sign_in">Please Sign In</a>

<% end %>
