<p id="notice"><%= notice %></p>

<div class="col-md-8 profilebox">

  <p>
    <strong>Wing:</strong>
    <%= @location.wing %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= @location.storage %>
  </p>

  <%= link_to 'Edit', edit_location_path(@location) %> |
  <%= link_to 'Back', locations_path %>
</div>
