<!DOCTYPE html>
<html>
  <head>
    <title>DAM!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="abovenav">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Visit</a></li>
        <li><a href="#">Exhibits</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <div class="yieldbody">
      <%= yield %>
    </div>
    <footer class="col-md-12"><span class="footertext">2017</span></footer>
  </body>
</html>
