<!DOCTYPE html>
<html>
  <head>
    <title>DAM!</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="abovenav">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      <a href="/">
        <div class="logoish">
          <p><strong>D</strong></p><span class="hovershow">ad</span><br>
          <p><strong>A</strong></p><span class="hovershow">rt</span><br>
          <p><strong>M</strong></p><span class="hovershow">useum</span>
        </div>
      </a>
    </div>
    <div class="homething">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tickets/new">Visit</a></li>
        <li><a href="/exhibits">Exhibits</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/about ">About</a></li>
      </ul>
    </nav>
    <div class="yieldbody">
      <%= yield %>
    </div>
  </div>
    <footer class="col-md-12"><span class="footertext">2017</span></footer>
  </body>
</html>
